body {
    background-color: #d52d00;
    margin: 24px auto;
    box-sizing: border-box;
}

h1 {
    font-family: 'Abadi MT Condensed';
    font-weight: 600;
    font-size: 56px;
    color: #ff9a56;
    text-align: center;
    margin: 24px auto;
}

.container {
    box-sizing: border-box;
    background-color: #a30262;
    border-radius: 16px;
    height: 700px;
    width: 1000px;
    margin: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 auto
}

.options {
    box-sizing: border-box;
    background-color: #d362a4;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    height: 600px;
    width: 300px;
}

.canvas {
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    background-color: #d362a4;
    padding: 10px;
    height: 600px;
    width: 600px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cell {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: white;
    flex: 1;
    color: rgba(255, 255, 255, 0);
}

