body {
    background-color: #d52d00;
    margin: 24px auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    font-family: 'Abadi MT Condensed';
    font-weight: 900;
    font-size: 56px;
    color: #ff9a56;
    text-align: center;
    margin: 24px auto;
}

.container {
    box-sizing: border-box;
    background-color: #a30262;
    border-radius: 16px;
    height: 700px;
    width: 1000px;
    margin: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 auto
}

.options {
    box-sizing: border-box;
    background-color: #d362a4;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    justify-content: space-evenly;
}

button {
    box-sizing: border-box;
    background-color:#a30262;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: #ffddf0;
    font-size: 28px;
    font-weight: 400;
    opacity: .8;
    box-shadow: 1px 1px 10px #a30262;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

.canvas {
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    background-color: #d362a4;
    padding: 10px;
    height: 600px;
    width: 600px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cell {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color:#dab2c9;
    flex: 1;
    color: rgba(255, 255, 255, 0);
}

footer {
    font-size: 20px;
    color: #ff9a56;
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
}

footer :link, footer :visited {
    color: #ff9a56;
}